body
{
    font-family: 'Bebas Neue', cursive;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden
}

html 
{
    scroll-behavior: smooth;
}


.vl
{
    border-right: 15px solid #f0ad4e;
}

.paraabout
{
    background-image: url('https://images.pexels.com/photos/2908975/pexels-photo-2908975.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parablog
{
    background-image: url('https://images.pexels.com/photos/966058/pexels-photo-966058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width:1200px)
{
    .vl
    {
        display: none;
    }
}

@media screen and (max-width:768px)
{
    .btsr .btsc1
    {
        order: 2;
    }
}

@media screen and (max-width:768px)
{
    .btsr .btsc2
    {
        order: 1;
    }
}


.carousel-item.active,.carousel-item-next,.carousel-item-prev
{
    display: block;
}

@media screen and (max-width:768px)
{
    .lr
    {
        display: none;
    }
}




   
