body
{
    font-family: 'Bebas Neue', cursive;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden
}

html 
{
    scroll-behavior: smooth;
}

.er
{
   color: azure;
}

.asd
{
    background-image: url('');

    width: 100%;
}

.vl
{
    border-right: 15px solid #f0ad4e;
}

#About 
{
    background-image: url('https://images.pexels.com/photos/2908975/pexels-photo-2908975.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}