body
{
    font-family: 'Bebas Neue', cursive;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
    font-size: 12px;
    
}

h1
{
    font-size: 2em+4px!important;
}
h2{
    font-size:2em!important
}

h3
{
    font-size: 2em-4px!important;
}

h4
{
    font-size: 1em+8px!important;
}

h5
{
    font-size:1em+4px!important;
}

h6
{
    font-size: 1em!important;
}


html 
{
    scroll-behavior: smooth;
}


.vl
{
    border-right: 15px solid #f0ad4e;
}

.paraabout
{
    background-image: url('https://images.pexels.com/photos/2908975/pexels-photo-2908975.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parablog
{
    background-image: url('https://images.pexels.com/photos/966058/pexels-photo-966058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width:1200px)
{
    .vl
    {
        display: none;
    }
}

@media screen and (max-width:768px)
{
    .btsr .btsc1
    {
        order: 2;
    }
}

@media screen and (max-width:768px)
{
    .btsr .btsc2
    {
        order: 1;
    }
}


.carousel-item.active,.carousel-item-next,.carousel-item-prev
{
    display: block;
}

@media screen and (max-width:768px)
{
    .lr
    {
        display: none;
    }
}

.cap1
{
    bottom: 5rem;
    right: 80rem;
    z-index: 10;
    color: black;
    
}

.cap3
{
    bottom: 10rem;
    right: 80rem;
    z-index: 10;
    color: black;
}

.cap2
{
    bottom: 2rem;
    right: 100rem;
    z-index: 10;
    color: black;
}

.jk
{
    margin:0px;
    padding:0px
} 


.vd tr td
{
    border: 1px solid black;
}

@media screen and (max-width:768px)
{
    .cap1{
        width: 100%;
        position: static;
    }
}

@media screen and (max-width:768px)
{
    .cap2{
        width: 100%;
        position: static;
    }
}
@media screen and (max-width:768px)
{
    .cap3{
        width:20vw!important;
        position:static;
    }
}

.main_navv
{
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width:730px)
{
    .gh
    {
        display: none;
    }
}

.pd
{
    padding: 2px;
}