body
{
    font-family: 'Bebas Neue', cursive;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
    font-size: 16px;
    
}
html
{
    font-size: 16px;
}

h1
{
    font-size: 2.5rem!important;
}
h2{
    font-size:2em!important
}

h3
{
    font-size: 1.75rem!important;
}

h4
{
    font-size: 1.5rem!important;
}

h5
{
    font-size:1.25rem!important;
}

h6
{
    font-size: 1rem!important;
}


html 
{
    scroll-behavior: smooth;
}


.vl
{
    border-right: 15px solid #f0ad4e;
}

.paraabout
{
    background-image: url('https://images.pexels.com/photos/2908975/pexels-photo-2908975.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parablog
{
    background-image: url('https://images.pexels.com/photos/966058/pexels-photo-966058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width:1200px)
{
    .vl
    {
        display: none;
    }
}

@media screen and (max-width:768px)
{
    .btsr .btsc1
    {
        order: 2;
    }
}

@media screen and (max-width:768px)
{
    .btsr .btsc2
    {
        order: 1;
    }
}



@media screen and (max-width:768px)
{
    .backtotoplink
    {
        display: none;
    }
}

.cap1
{
    bottom: 5rem;
    right: 80rem;
    z-index: 10;
    color: black;
    
}

.cap3
{
    bottom: 10rem;
    right: 80rem;
    z-index: 10;
    color: black;
}

.cap2
{
    bottom: 2rem;
    right: 100rem;
    z-index: 10;
    color: black;
}

.jk
{
    margin:0px;
    padding:0px
} 


.tableclass tr td
{
    border: 1px solid black;
}

@media screen and (max-width:768px)
{
    .cap1{
        width: 100%!important;
        position: static;
    }
}

@media screen and (max-width:768px)
{
    .cap2{
        width: 100%!important;
        position: static;
    }
}
@media screen and (max-width:768px)
{
    .cap3{
        width:100%!important;
        position:static;
    }
}

.main_navv
{
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width:400px)
{
    .owl-item
    {
        margin-right: 2px!important;
    }
}

@media screen and (max-width:778px)
{
    .rt
    {min-height: 0!important;}
}


.wrapper
{
width: 100%;
height: auto;
}

.owli
{
    height: 150px;
    width: 150px;
}